body {
	background-color: rgb(203, 223, 229);
}
div {
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
}
.info{
	background-color: rgb(228, 237, 242);
}
.sources{
	background-color: rgb(165, 204, 209);
}
p{
	font-family: "calibri", sans-serif;
}
h2{
	text-align: center;
	font-family: "calibri", sans-serif;
}
h1{
	text-align: center;
	font-family: "calibri", sans-serif;
}